<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sunshine.weatherapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/sunnyicons4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".DisplayingData.details.DetailsActivity"
            android:parentActivityName=".DisplayingData.main.MainActivity"/>
        <activity
            android:name=".DisplayingData.settings.SettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".DisplayingData.main.MainActivity"/>
        <activity
            android:name=".DisplayingData.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>